{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Home</h1>
    <p>Hello, {{ current_user.first_name }}! What will you learn today?</p>

    <p>Try some new songs:</p>
    <ul class="list-group list-group-flush" id="random-songs">
      {% for song in random_songs %}
      <li>{{ song.name}}</li>
      {% endfor %}
    </ul>

    <h2>Favourites list</h2>
    <ul class="list-group list-group-flush" id="notes">
      {% for favourite in user.favourites %}
      <li class="list-group-item">
          {{ favourite.snippet_id }}
        <button type="button" class="close" onClick="deleteNote({{ favourite.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    {% endblock %}
